.personas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1440px) {
}