.piepagina {

}

.piepagina-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    .piepagina-contenido {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1440px) {

}