.recetas {
    width: 100%;
}

.recetas-contenido {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .recetas-contenido {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1440px) {
    .recetas-contenido {
        grid-template-columns: repeat(3, 1fr);
    }
}