.boton {
    background-color: var(--primario);
    color: var(--letra-clara);
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    cursor: pointer;
    margin: auto;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}