.icono {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: block;
}

.icono_menu {
    background-image: url(./../../../img/iconos/menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.icono_mail {
    background-image: url(./../../../img/iconos/instagram.avif);
    background-repeat: no-repeat;
    background-size: contain;
}

.icono_whatsapp {
    background-image: url(./../../../img/iconos/whatsapp.avif);
    background-repeat: no-repeat;
    background-size: contain;
}

.icono_instagram {
    background-image: url(./../../../img/iconos/instagram.avif);
    background-repeat: no-repeat;
    background-size: contain;
}

.icono_cerrar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--letra-clara);
    font-size: 2rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .icono {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {

    .icono_menu {
        display: none;
    }
}

@media screen and (min-width: 1440px) {

}