.navegacionmobil {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--letra-oscura);
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    .navegacionmobil {
        display: none;
    }
}

@media screen and (min-width: 1440px) {

}